* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}


.logo {
    position: absolute;
    top: 20px; 
    left: 20px; 
    width: 100px; 
}


.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


header {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header .nav-links {
    margin-bottom: 20px;
}

header .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header h1 {
    color: #ff6600;
    font-size: 24px;
    margin-bottom: 20px;
}


.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.trip-type button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #ff6600;
    padding: 10px;
    cursor: pointer;
}

.trip-type button.active {
    border-bottom: 2px solid #ff6600;
}

.trip-type button:hover {
    color: #e65a00;
}

label {
    font-weight: bold;
    color: #333;
    font-size: 12px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

input[readonly] {
    background-color: #f5f5f5;
    color: #555;
    cursor: not-allowed;
}

.search-btn {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #e65a00;
}


.popular-routes {
    margin-top: 20px;
    text-align: center;
}

.popular-routes h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.popular-routes ul {
    list-style: none;
    padding: 0;
}

.popular-routes ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
}

.popular-routes ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.popular-routes ul li a:hover {
    color: #ff6600;
}
